@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(#110A40, #110A40);
    color: #e5d9f1;
    min-height: 100vh;
}

.card {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 6px;
    background: linear-gradient(white, #203031);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.card h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 7.5rem;
    color: #e5d9f1;
}

.card p {
    margin: 6.5rem 0;
}

.card a {
    color: #b3f4f6;
    text-decoration: none;
}